@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.home-page {
  background-image: url('../../public/globe.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.about-page {
  background-image: url('../../public/about-main.png');
  background-color: rgba(0,0,0,0.4);
    
  
}