@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.home-page {
  background-image: url('../../public/globe.png');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}